@page "/Bodegas"
@using UbicacionDeInventario.EntidadesDeNegocio
@inject HttpClient Http

<PageTitle>Bodegas</PageTitle>

<h1>Tabla Bodega</h1>


@if (bodegas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdSucursal</th>
                <th>Nombre</th>
                <th>Estatus</th>
                <th>Descripcion</th>
               @* <th>Acciones</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var bodega in bodegas)
            {
                <tr>
                    <td>@bodega.Id</td>
                    <td>@bodega.Nombre</td>      
                    <td>@bodega.Estatus</td>
                    <td>@bodega.Descripcion</td>
                    <td>@bodega.IdSucursal</td>

                </tr>
            }
        </tbody>
    </table>
}
@code {
     private Bodega[]? bodegas;

    protected override async Task OnInitializedAsync()
    {
        //https://localhost:44396/api/Bodega
        bodegas = await Http.GetFromJsonAsync<Bodega[]>("Bodega");
    }

}
 